<% provide :title, t(".title") %>
<h1><%= t ".title_help" %></h1>
<p>
  <%= t ".content_get_help_rutorial" %>
  <%= link_to t(".link_tutorial_help_page"), Settings.link.home.link_1 %>
  <%= t ".content_2" %>
  <em><%= t ".content_get_help_this_sample_app" %></em>
  <%= link_to t(".link_tutorial_book"), Settings.link.home.link_3 %>
</p>
