<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <small>
    <%= link_to t(".content_1"), Settings.link.footer.link_to_railstutorial %>
    <%= link_to t(".michael_hartl"), Settings.link.footer.link_to_michaelhartl %>
  </small>
  <div class="container">
   <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li>
      <%= link_to t(".news"), Settings.link.footer.link_to_railstutorial %>
      </li>
    </ul>
  </nav>
  </div>
</footer>
